<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.recommendation_system.dao.AdminMapper">
    <select id="queryByName" resultType="com.zhang.recommendation_system.pojo.Admin">
        select * from admin where name = #{name}
    </select>
    <!--<select id="queryAll" resultType="com.zhang.stu.pojo.StudentInfo">-->
    <!--    select * from stuinfo-->
    <!--</select>-->


    <!--<insert id="insertStuInfo" parameterType="com.zhang.stu.pojo.StudentInfo">-->
    <!--    insert into stuinfo values(#{id},#{name},#{gender},#{nation},#{grade},#{college},#{major},#{sclass}-->
    <!--    ,#{phonenum},#{password})-->
    <!--</insert>-->
    <!--<update id="updateStuInfoPs">-->
    <!--    update stuinfo set password=#{password} where id=#{id}-->
    <!--</update>-->
    <!--<update id="updateStuinfo" parameterType="com.zhang.stu.pojo.StudentInfo">-->
    <!--    update stuinfo set college=#{college},major=#{major},sclass=#{sclass},phonenum=#{phonenum},password=#{password} where id=#{id}-->
    <!--</update>-->
    <!--<delete id="deleteStuInfoById">-->
    <!--    delete from stuinfo where id=#{id}-->
    <!--</delete>-->
</mapper>
