<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.recommendation_system.dao.LoveSongMapper">
    <resultMap id="loveSongResultMap" type="com.zhang.recommendation_system.pojo.LoveSong">
        <result property="iid" column="iid"/>
        <result property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="songName" column="song_name"/>
        <result property="isDelete" column="isDelete"/>
        <result property="timestamp" column="timestamp"/>
    </resultMap>
    <!--添加用户收藏记录-->
    <insert id="addLoveSong">
        INSERT INTO collection(uid, iid, timestamp, isDelete)
        VALUES (#{uid}, #{iid}, #{timestamp}, #{isDelete})
    </insert>
    <!--更新用户收藏记录-->
    <update id="updateLoveSong">
        UPDATE collection
        SET isDelete=#{isDelete},
            timestamp=#{timestamp}
        WHERE uid = #{uid}
          AND iid = #{iid}
    </update>
    <!--查询用户收藏记录，且未删除的收藏状态-->
    <select id="queryByUid" resultMap="loveSongResultMap">
        SELECT collection.uid, collection.iid, name, song_name, collection.isDelete, collection.timestamp
        FROM collection,
             song,
             user
        WHERE collection.uid = #{uid}
          AND collection.isDelete = '1'
          AND collection.uid = user.uid
          AND collection.iid = song.iid
    </select>
    <!--根据用户id和歌曲id查找收藏记录-->
    <select id="queryByUidAndIid" resultMap="loveSongResultMap">
        SELECT collection.uid, collection.iid, name, song_name, collection.isDelete, collection.timestamp
        FROM collection,
             song,
             user
        WHERE collection.uid = #{uid}
          AND collection.iid = #{iid}
          AND collection.uid = user.uid
          AND collection.iid = song.iid
    </select>
</mapper>