<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.recommendation_system.dao.RecordMapper">
    <resultMap id="recordResultMap" type="com.zhang.recommendation_system.pojo.Record">
        <result property="iid" column="iid"/>
        <result property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="songName" column="song_name"/>
        <result property="weight" column="weight"/>
        <result property="timestamp" column="timestamp"/>
    </resultMap>
    <!--查找某一用户某一首歌的播放记录-->
    <select id="queryByUidAndIid" resultMap="recordResultMap">
        select record.uid, record.iid, name, song_name, record.weight, record.timestamp
        from record,
             song,
             user
        where record.uid = #{uid}
          and record.uid = user.uid
          and record.iid = #{iid}
          and record.iid = song.iid
    </select>
    <!--查找某一用户的播放记录-->
    <select id="queryByUid" resultMap="recordResultMap">
        select record.uid, record.iid, name, song_name, record.weight, record.timestamp
        from record,
             song,
             user
        where record.uid = #{uid}
          and record.uid = user.uid
          and record.iid = song.iid
        ORDER BY weight
    </select>
    <!--添加新的播放记录-->
    <insert id="addRecord" parameterType="com.zhang.recommendation_system.pojo.Record">
        INSERT INTO record(uid, iid, weight, timestamp)
        VALUES (#{uid}, #{iid}, #{weight}, #{timestamp})
    </insert>
    <!--更具用户id和歌曲id更新播放记录的播放次数和时间戳-->
    <update id="updateRecordByUidAndIid" parameterType="com.zhang.recommendation_system.pojo.Record">
        UPDATE record
        SET weight=weight + 1,
            timestamp=#{timestamp}
        WHERE uid = #{uid}
          AND iid = #{iid}
    </update>
</mapper>