<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.recommendation_system.dao.TopUsersMapper">
    <!--<resultMap id="topUsersResultMap" type="com.zhang.recommendation_system.pojo.TopUsers">-->
    <!--    <result property="name" column="name"/>-->
    <!--    <collection property="users" ofType="com.zhang.recommendation_system.pojo.User">-->
    <!--        <result property="uid" column="uid"/>-->
    <!--        <result property="name" column="name"/>-->
    <!--        <result property="password" column="password"/>-->
    <!--    </collection>-->
    <!--</resultMap>-->
    <resultMap id="topUsersResultMap" type="com.zhang.recommendation_system.pojo.TopUsers">
        <result property="name" column="name"/>
        <result property="topUsers" column="topusers"/>
    </resultMap>
    <!--根据用户id查找相似用户-->
    <select id="queryByUid" resultMap="topUsersResultMap">
        select name, topusers
        from topusers,
             user
        where topusers.uid = #{uid}
          and topusers.uid = user.uid
    </select>

</mapper>