<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.recommendation_system.dao.UserMapper">
    <!--查询指定id的用户-->
    <select id="queryById" resultType="com.zhang.recommendation_system.pojo.User">
        select *
        from user
        where uid = #{uid}
    </select>

    <!--查询所有用户-->
    <select id="queryAll" resultType="com.zhang.recommendation_system.pojo.User">
        select *
        from user
    </select>
    <!--添加用户-->
    <insert id="addUser" parameterType="com.zhang.recommendation_system.pojo.User">
        INSERT INTO user(uid, name, password, gender, age, area, registerTime, des)
        VALUES (#{uid}, #{name}, #{password}, #{gender}, #{age}, #{area}, #{registerTime}, #{des})
    </insert>
    <!--更新用户，用户名、性别、年龄、所在地区、个人简介等-->
    <update id="updateUser" parameterType="com.zhang.recommendation_system.pojo.User">
        UPDATE user
        SET name=#{name},
            gender=#{gender},
            age=#{age},
            area=#{area},
            des=#{des}
        WHERE uid = #{uid}
    </update>
    <!--更新密码-->
    <update id="updatePs">
        UPDATE user
        SET password=#{newPs}
        WHERE uid = #{uid}
    </update>


    <!--<select id="queryAll" resultType="com.zhang.stu.pojo.StudentInfo">-->
    <!--    select * from stuinfo-->
    <!--</select>-->


    <!--<insert id="insertStuInfo" parameterType="com.zhang.stu.pojo.StudentInfo">-->
    <!--    insert into stuinfo values(#{id},#{name},#{gender},#{nation},#{grade},#{college},#{major},#{sclass}-->
    <!--    ,#{phonenum},#{password})-->
    <!--</insert>-->
    <!--<update id="updateStuInfoPs">-->
    <!--    update stuinfo set password=#{password} where id=#{id}-->
    <!--</update>-->
    <!--<update id="updateStuinfo" parameterType="com.zhang.stu.pojo.StudentInfo">-->
    <!--    update stuinfo set college=#{college},major=#{major},sclass=#{sclass},phonenum=#{phonenum},password=#{password} where id=#{id}-->
    <!--</update>-->
    <!--<delete id="deleteStuInfoById">-->
    <!--    delete from stuinfo where id=#{id}-->
    <!--</delete>-->
</mapper>
